*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


.primary-btn{
    color: #FFFFFF;
background-color: #4E47FF;
border-radius: 10px;
padding: 12px 36px;
font-size: 16px;
font-weight: 500;
margin-top: 51.5px;
margin-bottom: 51.5px;
border: none;
width: 229px;
height: 48px;
font-family: "Raleway", sans-serif;
}

body{
    background-color:#f2f2fd;
    
    margin: 0;
}



/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
}


.logo{
font-size: 34px;
color: #4E47FF;
margin: 50px auto 50px 0;
font-family: "Inter", sans-serif;
}

.nav-btn{
    width: 132px;
    height: 48px;
}


/* banner styles */
header{
    background-image: url('Assets/Hero-bg.png');
}
.banner-content{
    margin: 158px 267.5px 152px 267.5px;
    text-align: center;
}

.banner-content h4{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
    font-family: "Raleway", sans-serif;
}

.stay-focused-btn{
    margin: 0px auto 152px auto;
}

.see-it-box{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
    width: 1140px;
    height: 328px;
    
    
}

.see-it{
text-align: left;
width: 517px;
height: 203px;
padding: auto;

}

 .see-it h6{
font-size: 40px;
font-weight: bold;
margin-bottom: 23px;
font-family: "Raleway", sans-serif;
}

.see-it p{
font-size: 24px;
color: #252432;
opacity: 0.5;
font-weight: lighter;
margin-bottom: 23px;
font-family: "Raleway", sans-serif;
}

.launch-btn{
    margin: 0px auto 0px 0px;
}

.wc-mini img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
    margin: auto;


}



/* Users Statistics */

.statistics-container{
    width: 1140px;
    height: 306px;
    background-color: #4e47ff10;
    border-radius: 24px;
    text-align: center;
    margin: 116px auto auto auto;
    padding-top: 40px;

}

.stat-headline{
    margin-top:10px;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
    font-family: "Raleway", sans-serif;
}

.stat{
    display: flex;
    justify-content: space-around;
    font-family: "Inter", sans-serif;
}

.stat-detail{
    text-align: center;
}

.stat-detail h2{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0px;

}

.stat-detail p{
    color: #000000;
    opacity: 0.5;
    font-size: 20px;
    margin-top: 0px;
}



/* Users review */

.review{
    width: 1140px;
    height: 342px;
margin: 120px auto 137px auto;
border-radius: 14px;
   
    
}

.review-title{
font-size: 42px;
font-weight: bold;
text-align: center;
color: #252432;
margin-bottom: 50px;
font-family: "Raleway", sans-serif;
}

.review-container{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 243px;
    padding: auto;
  
}

.review-box{
     background-color: #FFFFFF50;
    width: 366.67px;
    height: 243px;
    border-radius: 14px;
}

.review-box h2{
       margin: 24px 24px 12px 24px;
}

.loremipsum{
      margin-bottom: 10px;
      margin-left: 24px;
      margin-right: 24px;
}

.review-star{
    margin: 24px auto 12px 24px;
    width: 116px;
    height: 20px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 24px;
    
}

.profile-img img{
    margin-left: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.name{
    font-size: 18px;
    font-weight: bold;
    color: #2c2929;
}


.date{
font-size: 14px;
font-weight: lighter;
opacity: 0.7;
}


/* Ready to focus better styles */
.big-banner{
    width: 1140px;
    height: 696.77px;
  background-color: #FFFFFF50;
  border-radius: 14px;
    text-align: center;
    margin: 137px auto auto auto;
}

.ready{
    padding-top: 71px;
    font-size: 50px;
    font-weight: bold;
   margin-bottom: 20px;
   font-family: "Raleway", sans-serif;
}

.ready-details{
    font-size: 12px;
    font-weight: lighter;
    opacity: 0.5;
    margin-bottom: 20px;
}

.started{
    margin-top: 0;
    margin-bottom: 20px;
}

.wc-big{
    padding: 0px 150px 71px 150px;
    width: 840px;
    height: 364.77px;
}

.wc-big img{
    border-radius: 48px;
}



/* Get in Touch styles */

.support-box{
    width: 1100px;
    height: 632px;
    display: flex;
    gap: 50px;
    margin: 0px 150px 0px 110px;
}

.support-box h6{
    text-align: left;
    width: 500px;
    height: 232px;
    font-size: 97px;
    margin: 200px auto 200px 0;
    font-weight: bold;
    font-family: "Raleway", sans-serif;

}


.form{
width: 497px;
height: 490px;
padding-top: 71px;
padding-bottom: 71px;
}

.form label{
   display: block;
        font-weight: 600;
        font-size: 18px;
        color: #000000;
        margin-bottom: 10px;
     font-family: "Inter", sans-serif;

}

.form input, textarea{
    width: 100%;
 margin-bottom: 19px;
    border: 1px solid #D6dded;
        opacity: 0.5;
        border-radius: 10px;
}

.form input{
    width: 497px;
    height: 70px;

}

.form textarea{
    width: 497px;
    height: 135px;
    margin-bottom: 19px;
}

.form-submit-btn{
    margin-top: 0px;
    padding: 20px 32px;
    width: 497px;
    height: 62px;
    border-radius: 10px;
    font-size: 16px;
    
}

.form ::placeholder{
    padding: 20px 32px;
    font-family: "Inter", sans-serif;
}


/* Big Logo Design */


